@model IList<Be2BillNet.AspMvcDemo.Domain.Transaction1>
@{
    ViewBag.Title = "Index";
}

<section class="content">
    <p>
        @Html.ActionLink("Display B2B transactions", "BebillItems")
    </p>

<h2>All transactions</h2>

<table class="nice">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Paid</th>
            <th>Payments</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.OrderId</th>
            <td>@item.DateCreatedUtc</td>
            <td>@item.Amount</td>
            <td class="@(item.AmountPaid == item.Amount ? "ok" : item.AmountPaid > item.Amount ? "warning" :  "error")">@item.AmountPaid</td>
            <td>@(item.PaymentIds != null ? item.PaymentIds.Count : 0)</td>
            <td>
                @Html.ActionLink("Details", "Transaction1", new { id = item.OrderId, })
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
        <tr>
            <th>@Model.Count</th>
            <th></th>
            <th>@Model.Sum(m => m.Amount)</th>
            <th>@Model.Sum(m => m.AmountPaid)</th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>
</section>
